# Project exclude paths
/back/target/
/dubbo-jt/dubbo-jt-demo-consumer/target/
/dubbo-jt/dubbo-jt-demo-interface/target/
/dubbo-jt/dubbo-jt-demo-provider/target/
/dubbo-jt/dubbo-jt-demo-provider2/target/
/jt/jt-cart/target/
/jt/jt-common/target/
/jt/jt-manage/target/
/jt/jt-order/target/
/jt/jt-sso/target/
/jt/jt-web/target/
/springcloud1/sp01-commons/target/